body {
    font-family: 'Berkshire Swash', cursive;
    background-image: url(../images/morocco-blue.png);
}

#center-bar {
    background-color: bisque;
}

.rounded {
    margin: 10px 10px 10px 10px;
}

.boxed {
    margin-left: auto;
    margin-right: auto;
    font-size: 45pt;
}

h1, .footer {
    text-align: center;
}